*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url('https://ui-practise.vercel.app/static/images/landingView/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
}